.contactus-detail { padding-top: 60px; }

.location-info {
  border: 1px solid #e4e4e4;
  padding: 20px; 
}

.location-info > *:not(h4) { margin-top: 24px; }

.contact-icon {
  width: 40px; 
  height: 40px; 
  border: 0.8px solid #e4e4e4; 
}

.contact-icon ion-icon {
  font-size: 20px;
  color: #5f5e5e;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.contact-detail { margin-left: 14px; }

.contact-detail > * { font-size: 14px; }

