.form {
   gap: 1.25rem;
}

.dinp {
   flex-direction: column;
}

.inpTitle {
   margin-top: .5rem;
   padding-bottom: .25rem;
   font-size: .875rem;
   line-height: 1.25rem;
   font-weight: 600;
   color: var(--primary-color);
}

.genders {
   margin-top: .5rem;
   column-gap: 1.5rem;
}

@media (min-width: 480px) {
   .dinp {
      flex-direction: row;
      column-gap: .75rem;
   }

   .dinp .inpWrapper {
      width: 50%;
   }
}
