header {
    position: fixed;
    z-index: 10000;
}
 
header nav {
    height: 100px; 
    padding: 0 12px;
    background-color: white;
    transition: 0.4s;
}
 
.navbar-left { height: 100%; }
 
.navbar-left ul {
    display: none;
    list-style: none;
    margin-left: 30px; 
}
 
.nav-link { 
    display: inline;
    margin: 0 26px; 
    padding-top: 2%;
}
 
.navbar-left ion-icon {
    display: none;
    font-size: 48px;
    margin-right: 20px;
}
  
.navbar-right { padding-right: 19.5px; }
.navbar-right ion-icon { font-size: 24px; }
 
.navbar-right h4 { margin: 0 30px; }
 
.cart-preview, .navbar-right ion-icon {  display: none; }

.dropdown-menu {
    position: absolute;
    display: none;
    background-color: white;
    top: 100%;
    transition: 0.4s;
    padding: 15px 0;
}
  
.dropdown-menu span {
    display: block;
    padding: 8px 145px 8px 22px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    transition: 0.2s;
}
  
.dropdown-menu span:hover {
    color: white;
    background-color: black;
}
  
.nav-link:hover .dropdown-menu {
    display: block;
    animation: to-high 0.2s linear;
}
  
@keyframes to-high {
    0% {
      top: 120%;
      opacity: 0.2;
    }
    100% {
      top: 100%;
      opacity: 1;
    }
}


/* ----------- For Tablet ----------- */
@media (min-width: 740px) {
    header nav {
       padding: 0 calc((100vw - (100vw - 60px)) / 2)
    }
    .navbar-left ion-icon {
       display: inline;
    }
    .cart-preview, .navbar-right ion-icon { 
       display: block;
    }
}

/*------------ For PC ------------- */
@media (min-width: 1024px) {
    header nav {
       padding: 0 calc((100vw - (100vw - 90px)) / 2)
    }
    .nav-link {
       padding-top: 0px; 
    }
    .navbar-left ul {
       display: flex;
       height: 100%;
    }
    .navbar-left ion-icon {
       display: none;
    }
    .cart-amount {
       width: 18px; 
       height: 18px;
       font-size: 11px; 
       color: white;
       top: -5px;  
       right: -9px; 
    }
    .cart-preview, .navbar-right ion-icon { 
       display: block;
    }
}