.title {
   font-weight: bold;
   font-size: 1.125rem;
   line-height: 1.75rem;
   color: rgb(33, 33, 33);
   margin-bottom: 1rem;
}

.items {
   display: grid;
   grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 480px) {
   .items {
      grid-template-columns: repeat(3, minmax(0, 1fr));
   }
}

@media (min-width: 768px) {
   .title {
      font-size: 1.25rem;
      line-height: 1.25rem;
      margin-bottom: 1.25rem;
   }

   .items {
      column-gap: 1.25rem;
   }
}

@media (min-width: 1024px) {
   .title {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 1.5rem;
   }

   .items {
      grid-template-columns: repeat(4, minmax(0, 1fr));
   }
}

@media (min-width: 1280px) {
   .title {
      line-height: 2.5rem;
      margin-bottom: 1.75rem;
   }

   .items {
      column-gap: 1.75rem;
      row-gap: 1.25rem;
   }
}

@media (min-width: 1500px) {
   .title {
      font-size: 1.875rem;
      line-height: 2.25rem;
      margin-bottom: 2rem;
   }

   .items {
      grid-template-columns: repeat(5, minmax(0, 1fr));
      row-gap: 2rem;
   }
}