.inpWrapper {
   margin-bottom: 1rem;
}

.btn {
   display: inline-flex;
   margin-top: .75rem;
   border-radius: .375rem;
   padding: 1rem 1.25rem;
   font-size: 13px;
}

@media (min-width: 768px) {
   .btn {
      padding: .875rem 1.5rem;
      font-size: .875rem;
      line-height: 1.25rem;
   }
}

@media (min-width: 1024px) {
   .btn {
      padding: 1rem 2rem;
   }
}
