.wrapper {
  position: relative;
}

.nation {
  margin-right: 8px;
}

.flag {
  margin-right: 5px;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  color: rgb(153 153 153);
}

.langsButton {
  cursor: pointer;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(230, 230, 230);
}

@media (min-width: 600px) {
  .wrapper {
    margin-right: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    margin-right: 2rem;
  }
}
