.container {
   overflow: hidden;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.wrapper {
   width: 100%;
   display: flex;
   transition: transform 0.5s ease;
}

.item {
   min-width: 60%;
   margin: 0 10px;
   height: 200px;
   width: 1350px;
   background-color: #ccc;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   position: relative;
   flex-shrink: 0;
   border: 1px solid #000;
}