.product__list-item {
  border-radius: 8px;
  transition: var(--short-delay);
}

.product__list-item:hover {
  transform: translateY(-1.5%);
  box-shadow: 0 8px 10px rgb(241, 241, 241);
}

.product__list-item__image {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.product__list-item__name {
  font-size: 15px;
}

.product__list-item__description {
  font-size: 12px;
  margin-top: 6px;
}

.product__list-item__about {
  padding: 14px 15px;
}

.product__list-item__prices {
  margin-top: 14px;
}

.product__list-item__sale-price {
  font-weight: 600;
} 

.product__list-item__price {
  text-decoration: line-through;
  color: gray;
  margin-left: 12px;
}

.product__list-item__image img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.product__list-item__name,
.product__list-item__price {
  font-weight: 500;
}


