.title {
  margin-inline-start: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--primary-color);
}

.inp {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 999px;
  border: 1px solid rgb(230, 230, 230);
  transition: var(--short-delay);
}

.inp:hover {
  border-color: var(--primary-color);
}

.inp:checked {
  background-color: var(--primary-color);
}
