.wrapper {
   height: 100%;
   column-gap: 2.5rem;
}

.cartIc {
   width: 1.25rem;
   height: 1.25rem;
}

.signIn {
   font-size: 1rem;
   line-height: 1.5rem;
}

.cartAmount {
   min-width: 20px;
   min-height: 20px;
   padding: 2px;
   top: -0.75rem;
   right: -0.75rem;
}

.signIn,
.cartBtn {
   display: none;
   padding: .2rem .4rem;
   border-radius: .5rem;
   background-color: transparent;
   transition: var(--short-delay);
}

.cartBtn {
   padding-top: 7px;
}

.signIn:hover,
.cartBtn:hover {
   background-color: rgba(0, 0, 0, .15);
}

@media (min-width: 1024px) {
   .signIn,
   .cartBtn {
      display: initial;
   }
}
