.wrapper {
   max-width: 1350px;
   max-height: 850px;
   min-width: 920px;
   border-radius: 10px;
   animation: visible .3s ease;
}

.about {
   flex-direction: column;
   justify-content: space-around;
   padding: 10px 30px 20px 30px;
}

.about > * {
   margin-top: 20px;
}

.desc {
   font-size: 14px;
   line-height: 1.8;
   opacity: .6;
}

.prices h2:last-child {
   margin-left: 16px;
   opacity: .5;
   text-decoration: line-through;
}

.addon {
   width: 44px;
   height: 42px;
   border: .5px solid rgb(212, 212, 212);
   border-radius: 4px;
   transition: var(--short-delay);
}

.addon:not(:first-child) {
   margin-left: 12px;
}

.addon span {
   width: 80%;
   height: 80%;
}

.addon:hover,
.addon.selected {
   border: 1px solid #000;
}

.addons {
   margin-top: 10px;
}

.btn {
   font-size: 1rem;
   padding: 20px 0;
}

.qty {
   width: 200px;
   height: 50px;
   margin-right: 15px;
   border: 1px solid #cacaca;
}

.qtyBtn {
   width: 28%;
   color: black;
}

.qtyBtn,
.qtyValue {
   font-size: 16px;
}

.qtyBtn.decrease {
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
}

.qtyBtn.increase {
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
}

.qtyValue {
   width: 44%;
   padding-left: 4%;
   border-left: 1px solid #cacaca;
   border-right: 1px solid #cacaca;
   outline: none;
   text-align: center;
}

.errorMessage {
   margin-top: 10px;
   font-size: 12px;
   color: rgb(253, 103, 103);
}

.addedCartMessage {
   border-radius: .375rem;
   border: 1px solid rgb(230, 230, 230);
   background-color: rgb(251, 251, 251);
   padding: 1rem;
   color: var(--primary-color);
}

.addedCartIc {
   width: 2.5rem;
   height: 2.5rem;
   border-radius: 999px;
   background-color: rgb(230, 230, 230);
   margin-right: .75rem;
}

@keyframes visible {
   0% {
      opacity: 0;
      transform: translate(-50%, -40%);
   }
   100% {
      opacity: 1;
      transform: translate(-50%, -50%);
   }
}
