.wrapper[open] {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.wrapper {
  width: 520px;
  padding: 1rem;
  border-radius: 0.5rem;
  transform: translate(-50%, -40%);
  opacity: 0;
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out,
    overlay 0.2s ease-out allow-discrete,
    display 0.2s ease-out allow-discrete;
}

@starting-style {
  .wrapper[open] {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
}