.heading {
   margin-bottom: 1.5rem;
   font-size: 1.125rem;
   line-height: 1.75rem;
   font-weight: bold;
   color: rgb(33, 33, 33);
}

.dinp {
   flex-direction: column;
   margin-top: 1rem;
   gap: .75rem;
}

.inpWrapper {
   width: 100%;
}

.orderbtn {
   margin-top: 40px;
   width: 200px;
   height: 55px;
   font-size: 14px;
   transition: var(--short-delay);
   background-color: var(--primary-color);
   color: #fff;
   border-radius: 8px;
}

@media (min-width: 768px) {
   .heading {
      font-size: 1.25rem;
   }
}

@media (min-width: 1024px) {
   .container {
      width: 60%;
   }

   .dinp {
      flex-direction: row;
   }

   .inpWrapper {
      width: 50%;
   }
}

@media (min-width: 1280px) {
   .heading {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 2rem;
   }
}