.heading {
   margin-bottom: 1.5rem;
   font-size: 1.125rem;
   line-height: 1.75rem;
   font-weight: bold;
   color: var(--primary-color);
}

.dinp {
   flex-direction: column;
   margin-top: 1rem;
   gap: .75rem;
}

.inpWrapper {
   width: 100%;
}

.btn,
.btnLoading {
   margin-top: 40px;
   width: 100%;
   height: 55px;
   font-size: 14px;
   border-radius: 8px;
   padding: 0 1.25rem;
}

.btnLoading {
   background: transparent;
   border: 1px solid #000;
   color: #000;
}

@media (min-width: 768px) {
   .wrapper {
      width: 100%;
   }

   .heading {
      font-size: 1.25rem;
   }
}

@media (min-width: 1024px) {
   .wrapper {
      width: 60%;
   }

   .dinp {
      flex-direction: row;
   }

   .inpWrapper {
      width: 50%;
   }

   .btn {
      width: 200px;
   }
}

@media (min-width: 1280px) {
   .heading {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 2rem;
   }
}
