.home__banner__slider {
  position: relative;
  height: calc(var(--main-container-width) * 0.44);
}

.home__banner__slider img {
  position: absolute;
  width: var(--main-container-width);
  height: 100%;
  transition: var(--long-delay);
  border-radius: 10px;
}