.containerSkeleton,
.container {
   padding-bottom: .25rem;
   border-radius: 12px;
}

.container {
   cursor: pointer;
   transition: all .2s ease-in;
}

.container:hover {
   transform: translateY(-.4rem);
   box-shadow: 0px 2px 14px #e9e9e9;
}

.detail {
   padding: .5rem .8rem;
}

.detailSkeleton {
   padding: .5rem 0;
}

.name,
.nameSkeleton {
   margin-bottom: .375rem;
}

.name {
   font-weight: 600;
   font-size: 1.125rem;
   line-height: 1.75rem;
}

.desc,
.descSkeleton {
   max-width: "100%";
}

.desc {
   font-size: .875rem;
   line-height: 1.625;
}

.descSkeleton {
   height: 1rem;
}

.prices,
.pricesSkeleton {
   margin-top: .75rem;
}

.pricesSkeleton {
   width: 30%;
   height: 1.25rem;
}

.lastPrice {
   font-size: 1.25rem;
   line-height: 1.75rem;
}