.container {
   flex-direction: column;
   justify-content: center;
   padding: 2.5rem 1.25rem;
}

.header {
   margin-bottom: 1.75rem;
   text-align: center;
}

.heading {
   font-size: 1.125rem;
   line-height: 1.75rem;
   font-weight: bold;
   color: rgb(33, 33, 33);
}

.desc {
   font-size: .75rem;
   line-height: 1.5rem;
   margin-bottom: 1.25rem;
   color: rgb(90, 90, 90);
}

.form, .input {
   width: 100%;
}

.input {
   border: 1px solid rgb(230, 230, 230);
   border-radius: .375rem;
   height: 3rem;
   padding: .5rem 1rem;
   text-align: center;
   font-size: .75rem;
   line-height: 1rem;
   color: rgb(29, 30, 31);
   transition: all .2s ease-in-out;
}

.button {
   margin-top: .75rem;
   border-radius: .375rem;
   background-color: rgb(33, 33, 33);
   padding: 1rem 1.25rem;
   font-size: 13px;
   font-weight: 600;
   line-height: 1rem;
   transition: all .3s ease-in-out;
   color: #fff;
}

@media (min-width: 480px) {
   .container {
      padding: 0 4rem;
   }

   .form {
      width: 24rem;
      flex-direction: row;
   }

   .input {
      text-align: left;
   }

   .button {
      margin-top: 0;
   }
}

@media (min-width: 768px) {
   .container {
      padding: 3.5rem 0;
   }

   .header {
      margin-bottom: 2rem;
   }

   .heading {
      font-size: 1.25rem;
      margin-bottom: .625rem;
   }

   .desc {
      font-size: .875rem;
      line-height: 1.75rem;
      margin-bottom: 0;
   }

   .form {
      width: 545px;
   }

   .input {
      padding: 0 1.25rem;
   }

   .button {
      padding: .875rem 1.5rem;
      height: 100%;
      font-size: .875rem;
      line-height: 1.25rem;
      margin-left: .5rem;
   }
}

@media (min-width: 1024px) {
   .container {
      padding: 4rem 0;
   }
   
   .header {
      margin-top: .5rem;
      margin-bottom: 2.25rem;
   }

   .heading {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: .75rem;
   }

   .input {
      height: 3.5rem;
      padding: 0 1.75rem;
      font-size: .875rem;
      line-height: 1.25rem;
   }

   .button {
      padding: 1rem 2rem;
   }
}

@media (min-width: 1280px) {
   .container {
      flex-direction: row;
      justify-content: space-between;
   }

   .header {
      text-align: left;
      margin-top: -0.125rem;
      margin-bottom: 0;
   }

   .heading {
      line-height: 2.5rem;
      margin-bottom: .875rem;
   }
}

@media (min-width: 1500px) {
   .heading {
      font-size: 1.875rem;
      line-height: 2.25rem;
   }
}

