.container {
   flex-direction: column;
   justify-content: center;
   padding: 2.5rem 1rem;
}

.header {
   margin-bottom: 1.5rem;
   text-align: center;
}

.heading {
   font-size: 1.125rem !important;
   line-height: 1.75rem !important;
   font-weight: bold;
   color: var(--primary-color);
}

.desc {
   font-size: .75rem;
   line-height: 1.5rem;
   color: rgb(90, 90, 90);
}

.form {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.inp {
   height: 3rem;
}

.btn {
   width: 100%;
   margin-top: .75rem;
   border-radius: .375rem;
   background-color: var(--primary-color);
   padding: 1rem 1.25rem;
   font-size: 13px;
   line-height: 1rem;
   transition: all .3s ease-in-out;
   color: #fff;
}

@media (min-width: 480px) {
   .container {
      padding: 0 4rem;
   }

   .form {
      width: 24rem;
      flex-direction: row;
   }

   .inp {
      text-align: left;
   }

   .btn {
      width: auto;
      margin-top: 0;
      margin-left: .25rem;
   }
}

@media (min-width: 768px) {
   .container {
      padding: 3.5rem 0;
   }

   .header {
      margin-bottom: 2rem;
   }

   .heading {
      font-size: 1.25rem;
      margin-bottom: .625rem;
   }

   .desc {
      font-size: .875rem;
      line-height: 1.75rem;
      margin-bottom: 0;
   }

   .form {
      width: 545px;
      height: 3rem;
   }

   .inp,
   .btn {
      height: 100%;
   }

   .btn {
      padding: .875rem 1.5rem;
      font-size: .875rem;
      line-height: 1.25rem;
      margin-left: .5rem;
   }
}

@media (min-width: 1024px) {
   .container {
      padding: 4rem 0;
   }
   
   .header {
      margin-top: .5rem;
      margin-bottom: 2.25rem;
   }

   .heading {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: .75rem;
   }

   .form {
      height: 3.5rem;
   }

   .btn {
      padding: 1rem 2rem;
   }
}

@media (min-width: 1280px) {
   .container {
      flex-direction: row;
      justify-content: space-between;
   }

   .form {
      justify-content: flex-end;
   }

   .header {
      text-align: left;
      margin-top: -0.125rem;
      margin-bottom: 0;
   }

   .heading {
      line-height: 2.5rem;
      margin-bottom: .875rem;
   }
}

@media (min-width: 1500px) {
   .heading {
      font-size: 1.875rem;
      line-height: 2.25rem;
   }
}

