.wrapper {
   border-radius: 20px;
   width: 2.5rem;
   height: 22px;
   padding-top: 3px;
   padding-bottom: 3px;
   transition: var(--short-delay);
}

.nude {
   display: inline-block;
   width: 16px;
   height: 16px;
   border-radius: 30px;
}

.toggled {
   background-color: var(--primary-color);
   padding-left: 22px;
}

.notToggled {
   background-color: #e4e4e4;
   padding-left: 4px;
}
