.auth-container {
  width: 450px; 
  background-color: white;
  border-radius: 15px; 
  padding: 0 28px 20px 28px ; 
}

.auth-container > * { margin-top: 18px; }

.auth-container img {
  width: 150px; 
  height: 100px;
}

.auth-container > button:not(first-child) {
  height: 50px; 
  font-weight: 600;
  color: white;
}

.auth-container > button:not(first-child) span { margin-left: 18px; }

.auth-container > button:not(first-child) ion-icon { font-size: 25px; }

.auth-container > button:first-child {
  width: 32px; 
  height: 32px; 
  background-color: white;
  color: black;
}

.top-m4pc { top: -4%; }

.auth-container > button:first-child ion-icon { font-size: 18px; }

.auth-container span { margin-top: 10px; }

.auth-title {
  color: #5f5e5e;
  font-size: 14px; 
}

.user-saver-title {
  color: black;
  font-size: 14px;
  margin-left: 10px; 
}

.toggle {
  width: 42px; 
  transition: 0.3s;
}

.toggled {
  background-color: black;
  padding: 3px 0 3px 22px;
}

.not-toggled {
  background-color: #e4e4e4;
  padding: 3px 0 3px 4px;
}

