@keyframes showAuth {
  0% { transform: translate(-50%, -50%) scale(1.1, 1.1); };
  100% { transform: scale(1, 1); }
}

.auth-container {
  width: 450px; 
  background-color: white;
  border-radius: 15px; 
  padding: 0 24px 20px 24px;
  animation: showAuth 0.4s ease;
  transition: transform 0.6s ease, opacity 0.5s ease; 
}

.auth-container > * { margin-top: 18px; }

.auth-container img {
  width: 150px; 
  height: 100px;
}

.auth-container > button {
  height: 50px; 
  color: white;
}

.auth-container > button:nth-child(3), .auth-container > button:nth-child(4) { text-align: left; }

.auth-container > button:not(:first-child) ion-icon { font-size: 25px; }

.auth-container > button:first-child {
  width: 32px; 
  height: 32px; 
  background-color: white;
  color: black;
}

.top-n24px { top: -24px; }
.right-n10px { right: -10px; }
.left-23pc { left: 23%; }
.left-25pc { left: 25%; }

.auth-container > button:first-child ion-icon { font-size: 18px; }
.auth-container > button:first-child:hover { opacity: 0.9; }
.auth-container > button:first-child:hover,
.auth-container > button:first-child:not(:hover) { transition: 0.3s; }

.auth-container > span { margin-top: 10px; }

.auth-title {
  color: #5f5e5e;
  font-size: 14px; 
}

.user-saver-title {
  color: black;
  font-size: 14px;
  margin-left: 10px; 
}

.toggle {
  width: 42px; 
  transition: 0.3s;
}

.toggled {
  background-color: black;
  padding: 3px 0 3px 22px;
}

.not-toggled {
  background-color: #e4e4e4;
  padding: 3px 0 3px 4px;
}

.btn-fb { background-color: rgb(66, 103, 178); }
.btn-google { background-color: rgb(100, 150, 210); }

.btn-log-to { font-size: 15px; }
.btn-log-to:hover, 
.btn-fb:hover, 
.btn-google:hover { opacity: 0.8; }

.btn-log-to:hover, 
.btn-log-to:not(:hover),
.btn-fb:hover,
.btn-fb:not(:hover)
.btn-google:hover, 
.btn-google:not(:hover) { transition: opacity 0.2s; }

.btn-fb > span, .btn-google > span { font-size: 14px; }

.warn-title {
  /* display: none; */
  color: rgb(254, 58, 58);
  font-size: 14px;
  align-self: flex-start;
  margin-top: 12px;
}

.auth-status { margin-top: 7px; }

.auth-status p { 
  margin-left: 8px; 
  font-size: 18px; 
}

.auth-status span ion-icon { font-size: 27px; }

