.wrapper {
   text-align: center;
   padding-top: .75rem;
   padding-bottom: 1.25rem;
}

.image {
   display: none;
   max-width: 428px;
   max-height: 600px;
   width: 100%;
   height: auto;
}

.titleWrapper {
   margin-bottom: 1rem;
}

.seeAll {
   font-size: 1rem;
   line-height: 1.5rem;
   color: var(--primary-color);
}

.products {
   display: flex;
   gap: 1.75rem;
}

.list {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr;
   gap: 1rem;
}

.item {
   max-width: 100%;
   width: 100%;
   opacity: 0;
   transform: translateY(-20px);
}

@media (min-width: 770px) {
   .list {
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
   }
}

@media (min-width: 1280px) {
   .list {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 1.75rem;
   }
}

@media (min-width: 1780px) {
   .image {
      display: initial;
   }

   .list {
      grid-column: span 3 / span 3;
   }
}
