.container {
   text-align: center;
   padding-top: .75rem;
   padding-bottom: 1.25rem;
   /* margin: 2rem 0; */
}

.titleWrapper {
   margin-bottom: 2rem;
}

.seeAll {
   font-size: 1rem;
   line-height: 1.5rem;
   margin-top: .25rem;
   color: rgb(33, 33, 33);
}

.products {
   display: grid;
   grid-template-columns: repeat(4, minmax(0, 1fr));
   gap: 1.75rem;
}

.list {
   display: grid;
   grid-column: span 3 / span 3; 
   grid-template-columns: repeat(3, minmax(0, 1fr));
   gap: 1.75rem;
}

