/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

button, input { border: none; }
button { background-color: transparent; }
nav ul { list-style: none; }

/* .col { margin-bottom: 36px; } */

.w-100pc { width: 100% }
.w-full { width: 100vw; }
.h-full { height: 100vh; }
.h-100pc { height: 100% }
.text-center { text-align: center; }
.blur { opacity: 0.6; }
.blur-0 { opacity: 1; }
.ex-blur { opacity: 0; }
.shadow { box-shadow: 0 3px 8px #ececec; }
.fw-600 { font-weight: 600; }
.fw-500 { font-weight: 500; }
.fw-700 { font-weight: 700; }

.checkmark { font-size: 22px; }
.checkmark.success ion-icon { color: rgb(81, 196, 81); }
.checkmark.failed ion-icon { color: rgb(228, 64, 64); }
.checkmark.warning ion-icon { color: rgb(237, 210, 40); }

.bg-transparent { background-color: transparent; }

.btn { padding: 0 12px; }

.d-b { display: block; }
.d-i { display: inline; }
.d-ib { display: inline-block; }
.d-flex { display: flex; }
.fd-col { flex-direction: column; }
.jc-center { justify-content: center; }
.jc-sb { justify-content: space-between; }
.jc-sa { justify-content: space-around; }
.at-center { align-items: center; }
.wrap { flex-wrap: wrap; }

.posrel { position: relative; }
.posab { position: absolute; }
.pos-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-50pc { 
  top: 50%;
  transform: translateY(-50%);
}
.left-50pc {
  left: 50%;
  transform: translateX(-50%);
}
.top-0 { top: 0; }
.left-0 { left: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }

.thin-bd-r { border-radius: 8px; }
.norm-bd-r { border-radius: 14px; }
.circle-bd-r { border-radius: 10000px; }

.dark-v { color: white; background-color: black; }
.light-v { color: black; background-color: white; }

.o-h { overflow: hidden; }
.z-1 { z-index: 1 }
.z-0 { z-index: 0; }

.popup-wrapper-d,
.popup-wrapper {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0; 
  animation: popup-show 0.5s ease;
}

.popup-wrapper-d {
  background-color: rgba(0,0,0,0.4); 
}

@keyframes popup-show {
  0% { opacity: 0; }; 
  100% { opacity: 1; }
}