.wrapper {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  top: -1em;
  right: -1em;
  transition: background-color 0.25s linear;
}

.wrapper:hover {
  background-color: rgba(255, 255, 255, 0.8);
}