@keyframes showMessageBox {
  0% { top: -100%; }
  100% { top: 6%; }
}

.top-5pc { top: 6%; }

.popup__message {
  width: 350px;
  top: 6%; 
  padding: 16px 20px; 
  background-color: rgba(33, 32, 32, 0.671);
  color: white;
  transition: top 0.8s ease;
  animation: showMessageBox 1s ease;
  box-shadow: 2px 7px 6px gray;
}

.popup__message-content { 
  font-size: 16px;
  margin-left: 12px; 
}

.popup__message-icon {
  font-size: 22px;
}