.wrapper {
  padding: 1.25rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid rgb(230, 230, 230);
}

.header {
  margin-bottom: 1.5rem;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.625rem;
}

.item {
  opacity: 0;
  transform: translateY(-20px);
}

.itemImage {
  height: 324px;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 1.5rem 1.25rem 1.25rem 1.25rem;
  }
  .items {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .items {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1500px) {
  .wrapper {
    padding: 1.75rem;
  }
  .items {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    column-gap: 1.75rem;
    row-gap: 2rem;
  }
}
