.fz-14px { 
  font-size: 14px; 
}

.mr-3r { 
  margin-right: 3rem; 
}

.mb-32px { 
  margin-bottom: 32px; 
}

.left-6pc { 
  left: 6%; 
}

.catalog__filters {
  padding-top: 4px;
}

.filter { 
  padding-top: 22px; 
}

.filter h4 { 
  margin-bottom: 32px; 
}

.checkbox-selector { 
  margin-bottom: 28px; 
}

.filter, .catalog__filters-header { border-bottom: 0.8px solid #e4e4e4; }

.catalog__filters-header__path,
.catalog__filters-header__clear { 
  font-size: 13px; 
}

.catalog__filters-header__path { 
  margin-bottom: 35px;
  font-size: 14px; 
}

.catalog__filters-header__selects {
  margin: 12px 0 20px 0;
  transform: translateX(-4%);
}

.catalog__filters-header__selects .btn ion-icon {
  font-size: 14px;
  color: gray;
}

.catalog__filters-header__selects .btn {
  margin-left: 12px;
  margin-top: 12px;
}

.selected-category {
  padding: 8px 12px; 
  background-color: #f5f5f5;
  color: gray;
  border: 0.8px solid #e4e4e4;
  border-radius: 7px;
  margin-left: 12px; 
  margin-bottom: 10px;
}

.selected-category ion-icon { 
  margin-left: 8px; 
  margin-bottom: -2px; 
}

.load-more {
  width: 128px; 
  height: 48px; 
  font-size: 14px;
  transition: all .2s;
}

.dropdown-menu-wrapper { width: 175px; }
 
.dropdown-btn {
  height: 42px;
  border: 1px solid #dadada;
  background-color: white;
  font-size: 14px;
  padding: 0 5px;
  border-radius: 8px;
}
 
.up-down-icons ion-icon { font-size: 13px; }
 
.dropdown-content {
  border: 0.8px solid #e4e4e4;
  background-color: white;
  margin-top: 5px;
  padding: 5px 0;
}

.dropdown-content p {
  font-size: 14px;
  padding: 10px 0 10px 20px;
  color: #3b3b3b;
}

.dropdown-content p:hover { background-color: #e4e4e4; }

.filter-sidebar-btn {
  padding: 10px 20px;
  background-color: gray;
}

.filters-sidebar {
  position: absolute;
  left: 0; 
  width: 100%;
  height: 100%;
  background-color: white;
  animation: showFiltersSidebar 1s ease;
  transition: left 1.5s ease;
}

.filters-sidebar-top {
  height: 80px; 
}

.filters-sidebar-top ion-icon {
  font-size: 22px;
}

.filters-sidebar-center {
  height: calc(100% - 140px); 
  padding: 0 30px; 
  overflow-y: auto;
}

.filters-sidebar-bottom {
  background-color: rgb(39, 39, 39);
  height: 60px; 
}

@keyframes showFiltersSidebar {
  0% { left: -100%; };
  100% { left: 0; }
}

.catalog__products-header h2 { display: none; }

@media (min-width: 740px) {
  .filters-sidebar { width: 50vw; }
  .load-more {
    width: 134px; 
    height: 54px;
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .catalog__products-header h2 { display: block; }
  .filtersSidebar { width: 480px; }
  .filter-sidebar-btn { display: none; }
  .load-more {
    width: 140px;
    height: 60px; 
    font-size: 16px;
  }
  .load-more:hover {
    background-color: var(--button-hover-color);
  };
}
