.container {
   padding: 1.75rem;
   border-radius: .375rem;
   border: 1px solid rgb(230, 230, 230);
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 1.5rem;
}

/* .title {
   font-weight: bold;
   font-size: 1.875rem;
   line-height: 2.25em;
} */

.items {
   display: grid;
   grid-template-columns: repeat(5, minmax(0, 1fr));
   column-gap: 1.75rem;
   row-gap: 2rem;
}