.container {
   padding: 1.75rem;
   border-radius: .375rem;
   border: 1px solid rgb(230, 230, 230);
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 1.5rem;
}

.items {
   display: grid;
   grid-template-columns: repeat(5, minmax(0, 1fr));
   column-gap: 1.75rem;
   row-gap: 2rem;
}

.item {
   opacity: 0;
   transform: translateY(-20px);
   animation: fadeIn .4s ease forwards;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   50% {
      opacity: .5;
      transform: translateY(10px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}


