.home__section {
  opacity: 0; 
}

.home__section:not(:first-child) {
  margin-top: var(--page-section-dist-max380);
}

.home__section__title {
  display: block;
  font-size: 20px;
  font-weight: 700;
}

.home__section.visible {
  opacity: 1;
  animation: section-show-up 1s ease-in;
}

@keyframes section-show-up {
  0% { margin-left: -50px; opacity: 0; }
  100% { margin-left: 0; opacity: 1; }
}

@media screen and (min-width: 380px) {
  .home__section:not(:first-child) {
    margin-top: var(--page-section-dist-min380);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .home__section:not(:first-child) {
    margin-top: var(--page-section-dist-min600);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .home__section:not(:first-child) {
    margin-top: var(--page-section-dist-min768);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .home__section:not(:first-child) {
    margin-top: var(--page-section-dist-min992);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .home__section:not(:first-child) {
    margin-top: var(--page-section-dist-min1200);
  } 
}