.circle {
   stroke-dasharray: 283;
   stroke-dashoffset: 283;
   animation: draw-circle 0.6s ease-out forwards;
}

.path {
   stroke-dasharray: 90;
   stroke-dashoffset: 90;
   animation: draw-x 0.3s 0.6s ease-out forwards;
}

@keyframes draw-circle {
   to {
      stroke-dashoffset: 0;
   }
}

@keyframes draw-x {
   to {
      stroke-dashoffset: 0;
   }
}
