.wrapper {
  margin-top: 2.5rem;
  padding-top: 0.625rem;
  padding-bottom: var(--bottom-menu-height-max380);
  max-width: 1920px;
  padding: 0 1rem;
}

.sections {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem;
  padding-bottom: 2.25rem;
}

.section {
  padding-bottom: 0.75rem;
}

.title {
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--primary-color);
}

.link {
  color: rgb(90, 90, 90);
  transition: var(--short-delay);
}

.link:hover {
  color: #000;
}

.list {
  font-size: 0.75rem;
  line-height: 1rem;
}

.list li {
  margin-top: 0.75rem;
}

.bottom {
  border-top: 1px solid gray;
  width: 100%;
  height: 100px;
}

@media (min-width: 380px) {
  .wrapper {
    padding-bottom: var(--bottom-menu-height-min380);
  }
}

@media (min-width: 600px) {
  .wrapper {
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  .wrapper {
    margin-top: 2.75rem;
    padding: 0 2rem;
  }

  .sections {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2.25rem;
    padding-bottom: 3.5rem;
  }

  .section {
    padding-bottom: 0;
  }

  .title {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    margin-top: 4rem;
    padding-top: 0;
  }

  .sections {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-bottom: 4rem;
    margin-bottom: 0.125rem;
  }

  .list {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .list li {
    margin-top: 0.875rem;
  }
}

@media (min-width: 1280px) {
  .sections {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 1.25rem;
  }

  .title {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1500px) {
  .wrapper {
    padding-top: 0.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .sections {
    padding-bottom: 5rem;
    margin-bottom: 0;
  }

  .title {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1780px) {
  .wrapper {
    margin-top: 5rem;
  }

  .sections {
    padding-bottom: 6rem;
    margin-bottom: -0.25rem;
  }

  .title {
    margin-bottom: 1.75rem;
  }
}
