.container {
   border-radius: .5rem;
   background-color: #fff;
   animation: visible .3s ease-in-out;
}

.closeButton {
   position: fixed;
   display: inline-flex;
   width: 1.75rem;
   height: 1.75rem;
   right: .75rem;
   z-index: 10;
   top: .75rem;
   background-color: #fff;
   transition: all .2s ease-in-out;
}

.ic {
   font-size: 1.25rem;
}

.main {
   row-gap: .5rem;
   max-height: calc(100vh - 120px);
   padding: 1.25rem;
   overflow: auto;
}

.title {
   margin-top: .5rem;
   margin-bottom: 1rem;
   font-size: .875rem;
   line-height: 1.25rem;
   color: rgb(90, 90, 90);
}

.titleLink {
   text-decoration: underline;
   color: rgb(33, 33, 33);
}

.form {
   row-gap: 1.5rem;
}

.lineWrapper {
   margin-bottom: .875rem;
   margin-top: 1.5rem;
}

.line {
   border: 1px solid rgb(230, 230, 230);
}

.lineText {
   top: -0.625rem;
   background-color: #fff;
   padding: 0 .5rem;
   font-size: .875rem;
}

.switchAuth {
   color: rgb(90, 90, 90);
}

.switchButton {
   font-weight: bold;
   text-decoration: underline;
   color: rgb(33, 33, 33);
   margin-left: 5px;
}

.switchAuth,
.switchButton {
   font-size: .875rem;
   line-height: 1.25rem;
   margin-top: 5px;
}

.btn {
   margin-top: .375rem;
   border-radius: .375rem;
   background-color: var(--primary-color);
   padding: 1rem 1.25rem;
   font-size: 13px;
   color: #fff;
   height: 2.75rem;
   transition: all .2s ease-in-out;
}

.btn:hover {
   opacity: .9;
}

@media (min-width: 480px) {
   .main {
      width: 24rem;
      padding-left: 2rem;
      padding-right: 2rem;
   }

   .title {
      margin-bottom: 1.5rem;
   }
}

@media (min-width: 768px) {
   .closeButton {
      width: 2rem;
      height: 2rem;
      top: -1rem;
      right: -1rem;
   }

   .main {
      width: 450px;
   }

   .title {
      font-size: 1rem;
      line-height: 1.5rem;
   }

   .btn {
      height: 3rem;
      padding: .875rem 1.5rem;
      font-size: .875rem;
   }
}

@media (min-width: 1024px) {
   .btn {
      padding: 1rem 2rem;
   }
}

@keyframes visible {
   0% { opacity: 0; transform: translate(-50%, -40%); }
   100% { opacity: 1; transform: translate(-50%, -50%); }
}