.wrapper {
   border-radius: .5rem;
   animation: visible .3s ease;
}

.main {
   row-gap: .5rem;
   max-height: calc(100vh - 120px);
   padding: 1.25rem;
   overflow: auto;
}

.close {
   width: 2rem;
   height: 2rem;
   top: -1rem;
   right: -1rem;
   transition: background-color .25s linear;
}

.close:hover {
   background-color: rgba(255, 255, 255, .8);
}

@media (min-width: 480px) {
   .main {
      width: 24rem;
      padding-left: 2rem;
      padding-right: 2rem;
   }
}

@media (min-width: 768px) {
   .main {
      width: 450px;
   }
}

@keyframes visible {
   0% {
      opacity: 0;
      transform: translate(-50%, -40%);
   }
   100% {
      opacity: 1;
      transform: translate(-50%, -50%);
   }
}
