.radio-btn-container {
   display: block;
   position: relative;
   padding-left: 30px;
   margin-bottom: 15px;
   cursor: pointer;
   font-size: 15px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 
 /* Hide the browser's default radio button */
 .radio-btn-container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
 }
 
 /* Create a custom radio button */
 .radio-checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 24px;
   width: 24px;
   background-color: #eee;
   border-radius: 50%;
   transition: 0.4s;
 }
 
 /* On mouse-over, add a grey background color */
 .radio-btn-container:hover input ~ .radio-checkmark {
   background-color: #ccc;
 }
 
 /* When the radio button is checked, add a blue background */
 .radio-btn-container input:checked ~ .radio-checkmark {
   background-color: black;
 }
 
 /* Create the indicator (the dot/circle - hidden when not checked) */
 .radio-checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }
 
 /* Show the indicator (dot/circle) when checked */
 .radio-btn-container input:checked ~ .radio-checkmark:after {
   display: block;
 }
 
 /* Style the indicator (dot/circle) */
 .radio-btn-container .radio-checkmark:after {
   top: 7px;
   left: 7px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: white;
 }