.circle {
   stroke-dasharray: 151;
   stroke-dashoffset: 151;
   transform-origin: center;
   animation: draw-circle 0.3s ease-out forwards;
}

.path {
   stroke-dasharray: 36;
   stroke-dashoffset: 36;
   animation: draw-check 0.3s ease-out 0.6s forwards;
}

@keyframes draw-circle {
   to {
      stroke-dashoffset: 0;
   }
}

@keyframes draw-check {
   to {
      stroke-dashoffset: 0;
   }
}
