.thead {
   background-color: rgb(241, 241, 241);
}

.thead,
.tbody {
   font-size: .875rem;
   line-height: 1.25rem;
}

.th {
   padding: 1rem;
   color: var(--primary-color);
   font-weight: 600;
}

.th:first-child {
   border-top-left-radius: .375rem;
}

.th:last-child {
   border-top-right-radius: .375rem;
}

.row:not(:last-child) {
   border-bottom: 1px solid rgb(230, 230, 230);
}

.cell {
   padding: 1.25rem 1rem;
   color: var(--primary-color);
}

.btn {
   border-radius: .375rem;
   padding: .625rem 1rem;
   font-size: .875rem;
}

@media (min-width: 1024px) {
   .thead,
   .tbody {
      font-size: 1rem;
      line-height: 1.5rem;
   }

   .th,
   .cell {
      text-align: center;
   }
}
