@keyframes showProductDetail {
  0% { transform: translate(-50%, -50%) scale(1.1, 1.1); };
  100% { transform: scale(1, 1); }
}

.product-detail {
  width: 960px; 
  height: 550px; 
  background-color: white;
  border-radius: 10px; 
  animation: showProductDetail 0.4s ease;
  transition: transform 0.6s ease, opacity 0.5s ease; 
}

.product-detail img {
  width: 450px; 
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product-detail-about {
  padding: 10px 30px 20px 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

.product-detail-about > button:first-child {
  width: 32px;
  height: 32px;
  padding-top: 2px;
  background-color: white;
}

.product-detail-about > button:first-child ion-icon {
  font-size: 18px;
}

.right-1d5pc { right: 1.5% !important; }
.top-n2pc { top: -2%; }

.close-btn { border: 0.5px solid #e4e4e4; }

.product-detail-about > * { margin-top: 20px; }

.product-detail-about p {
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.6;
}

.product-detail-prices h2:last-child {
  margin-left: 16px; 
  opacity: 0.5;
  text-decoration: line-through;
}

.addon {
  width: 44px; 
  height: 42px; 
  border: 0.5px solid rgb(212, 212, 212);
  border-radius: 4px; 
  transition: 0.2s;
}

.addon:not(:first-child) { margin-left: 12px; }

.addon span {
  width: 80%;
  height: 80%;
  background-color: gray; 
}

.addon:hover {
  border: 1px solid black;
}

.addons {
  margin-top: 10px; 
}

.add-cart-btn {
  color: white;
  width: 320px; 
  height: 50px;
  background-color: gray; 
}

.add-cart-btn:hover, .add-cart-btn:not(:hover) { transition: 0.2s; }
.add-cart-btn:hover { opacity: 0.8; }

.product-detail-about > button:last-child {
  font-weight: 600;
  padding: 20px 0;
}

.product-detail-about .qty-ctl {
  width: 200px; 
  height: 50px; 
  margin-right: 15px;
  border: 1px solid #cacaca;
}

.product-detail-about .qty-ctl-btn { 
  width: 28%;
  color: black;
}

.product-detail-about .qty-ctl-btn, .product-detail-about .qty { font-size: 18px; }

.product-detail-about .qty-ctl > button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.product-detail-about .qty-ctl > button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
 
.product-detail-about .qty { 
  width: 44%;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca; 
}