.wrapper {
   flex-direction: column;
   padding: 3.5rem 1rem;
}

@media (min-width: 768px) {
   .wrapper {
      flex-direction: row;
      padding: 3.5rem 2rem;
   }
}

@media (min-width: 1280px) {
   .wrapper {
      max-width: 1280px;
      padding: 5rem 2rem;
   }
}

@media (min-width: 1500px) {
   .wrapper {
      max-width: 1500px;
   }
}
