.remember {
   padding-left: .75rem;
   font-size: .875rem;
   line-height: 1.25rem;
   color: var(--primary-color);
}

.forgotPassword {
   font-size: .875rem;
   line-height: 1.25rem;
   color: var(--primary-color);
   text-decoration: underline;
   align-self: flex-end;
}

.forgotPassword:hover {
   text-decoration: none;
}
