.checkout-detail {
  padding-top: 100px; 
}

.checkout-confirm > *:not(h2) {
  margin-top: 12px; 
}

.checkout-fields h3 {
  padding-left: 4px; 
  margin-bottom: 20px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .checkout-fields h3 {
    padding-left: 8px; 
  }
}

@media (min-width: 1024px) {
  .checkout-fields h3 {
    padding-left: 12px;
  }
}