.checkout {
  padding-top: 100px; 
}

.checkout__confirm > *:not(h2) {
  margin-top: 12px; 
}

.checkout__fields h3 {
  padding-left: 4px; 
  margin-bottom: 20px;
}

.checkout__fields-order-button {
  width: 150px; 
  height: 55px; 
  font-size: 14px;
  transition: all .2s;
}

.checkout__confirm-header {
  padding: 0 20px; 
  height: 60px; 
  background-color: #e4e4e4; 
}

.checkout__confirm-items {
  padding: 22px 0;
}

.checkout__confirm-items > p {
  color: red; 
  padding-left: 20px;
}

.checkout__confirm-fee {
  padding: 0 20px;
  height: 55px; 
  border-bottom: 1px solid #e4e4e4;
}

.checkout__confirm-total {
  padding: 0 20px; 
  height: 60px; 
  font-size: 18px;
}

.checkout__confirm-item {
  height: 95px; 
  border-bottom: 0.5px solid #e4e4e4;
  padding: 50px 20px; 
  margin: 20px 0;
}

.checkout__confirm-item__image {
  width: 80px;
}

.checkout__confirm-item__name {
  margin-left: 10px;
}

.checkout__payments {
  margin: 22px 0;
}

.checkout__payments-select {
  width: 100%;
  padding: 16px 12px;
  font-size: 16px;
  margin: 15px 0;
  outline: none;
}

.checkout__success { padding: 0 0 65px 0; }

.checkout__success > * { margin: 28px 0; }

.checkout__success > svg { margin-top: 0; }

.checkout__success button {
  width: 240px; 
  height: 55px; 
  font-size: 16px;
  transition: all 0.3s ease;
}

.checkout__success button:hover { opacity: 0.8; }

.checkout__success-title ion-icon { 
  font-size: 45px;
  color: rgb(71, 215, 71); 
}

.checkout__success-title p {
  color: rgb(51, 51, 51);
  font-size: 24px;
  margin-left: 16px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .checkout__fields h3 {
    padding-left: 8px; 
  }
  .checkout__fields-order-button {
    width: 152px; 
    height: 60px; 
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .checkout__fields h3 {
    padding-left: 12px;
  }
  .checkout__fields-order-button {
    width: 160px; 
    height: 64px; 
    font-size: 16px;
  }
  .checkout__fields-order-button:hover {
    background-color: var(--button-hover-color);
  }
}