.container {
   display: none;
   width: 24rem;
   padding-right: 6rem;
}

.inner {
   position: relative;
   top: 0;
}

.path {
   padding-bottom: 1.75rem;
}

.pathPart {
   font-size: .875rem;
   line-height: 1.25rem;
   color: rgb(90, 90, 90);
}

.pathSeparator {
   margin: 0 .625rem;
   color: rgb(90, 90, 90);
   font-size: 1rem;
   line-height: 1.5rem;
}

@media (min-width: 1024px) {
   .container {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 10;
      display: block;
   }
}