.container {
   display: none;
   width: 24rem;
   padding-right: 6rem;
}

.inner {
   position: relative;
   top: 0;
}

.path {
   font-size: .875rem;
   line-height: 1.25rem;
   color: var(--primary-color);
   padding-bottom: 1.75rem;
}

@media (min-width: 1024px) {
   .container {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 10;
      display: block;
   }
}