.wrapper {
   display: block;
   position: relative;
   padding-left: 35px;
   height: auto;
   cursor: pointer;
   font-size: 14px;
   font-weight: 500;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 22px;
   width: 22px;
   border: .7px solid #afafaf;
   border-radius: 5px;
   transition: .4s;
}

.wrapper:hover input ~ .checkmark {
   border-color: var(--primary-color);
}

.wrapper input:checked ~ .checkmark {
   background-color: var(--primary-color);
   border-color: transparent;
}

.checkbox-container input:checked ~ .checkmark:after {
   display: block;
}

.checkmark:after {
   content: "";
   position: absolute;
   left: 8px;
   top: 4px;
   width: 3px;
   height: 8px;
   border: solid white;
   border-width: 0 2px 2px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}
