.banner-default {
  height: calc(100vw * 0.25);
  background-image: url('https://chawkbazar.vercel.app/assets/images/page-header.jpg');
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
}

.banner-default__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-default__title-above {
  font-size: 18px;
  font-weight: 500;
}

.banner-default__title-under {
  font-size: 28px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 16px;
}

.banner-default__title-above,
.banner-default__title-under {
  color: #fff;
}