.wrapper {
   border-bottom: 1px solid rgb(241, 241, 241);
   padding: 1rem 0;
}

.imageWrapper {
   width: 6rem;
   height: 6rem;
   border-radius: .375rem;
   background-color: rgb(249, 249, 249);
   margin-right: 1rem;
}

.imageBackdrop {
   opacity: 0;
   z-index: 1000;
}

.removeIc {
   font-size: 1.5rem;
   color: #fff;
}

.removeIc,
.imageBackdrop {
   transition: all 0.3s ease-in-out;
}

.imageWrapper:hover .imageBackdrop {
   opacity: 1;
   background-color: rgba(0, 0, 0, 0.3);
}

.name {
   margin-bottom: .375rem;
   color: var(--primary-color);
}

.unitPrice {
   margin-bottom: .625rem;
   color: rgb(153, 153, 153);
}

.quantityControl {
   height: 2rem;
   border-radius: .375rem;
   background-color: var(--primary-color);
}

.quantityButton {
   width: 2rem;
   transition: all 0.3s ease-in-out;
}

.quantityText {
   width: 2rem;
}

.name,
.unitPrice,
.quantityText,
.total {
   font-size: .875rem;
   line-height: 1.25rem;
}

.total {
   margin-left: 2rem;
}

@media (min-width: 768px) {
   .wrapper {
      padding: 1.75rem 0;
   }

   .imageWrapper {
      width: 7rem;
      height: 7rem;
   }

   .quantityControl {
      height: 2.25rem;
   }

   .quantityButton {
      width: 2.25rem;
   }

   .quantityText {
      width: 2.5rem;
   }

   .total {
      font-size: 1rem;
      line-height: 1.5rem;
   }
}
