.event {
   background-color: rgb(247, 247, 247);
   transition: all 0.2s ease-in;
   font-size: .75rem;
   line-height: 1.5rem;
   color: #000;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.catalog {
   padding-bottom: 4rem;
   padding-top: 2rem;
}

.catalog,
.event {
   padding-left: 1rem;
   padding-right: 1rem;
}

.eventLink {
   text-decoration: underline;
}

@media (min-width: 768px) {
   .event {
      font-size: .875rem;
      line-height: 1.75rem;
   }

   .catalog,
   .event {
      padding-left: 2rem;
      padding-right: 2rem;
   }
}

@media (min-width: 1024px) {
   .catalog {
      padding-bottom: 5rem;
   }
}

@media (min-width: 1500px) {
   .catalog,
   .event {
      padding-left: 4rem;
      padding-right: 4rem;
   }
}
