.wrapper {
   height: var(--bottom-menu-height-max380);
   z-index: 10000;
   bottom: 0;
   padding: 0 26px;
   box-shadow: 0px -4px 8px rgb(243, 243, 243);
}

.tab {
   font-size: 21px;
}

@media screen and (min-width: 380px) {
   .wrapper {
      height: var(--bottom-menu-height-min380);
   }

   .tab {
      font-size: 24px;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
   .wrapper {
      display: none;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {}