.mail__getter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(249, 249, 249);
  text-align: center;
  padding: 60px 8px;
  margin-top: var(--page-section-dist-max380);
}

.mail__getter-left__title {
  font-weight: 600;
  font-size: 18px;
}


.mail__getter-left__description {
  font-size: 12px;
  font-weight: 500;
  margin-top: 12px;
  opacity: 0.8;
}

.mail__getter-right {
  margin-top: 25px;
}

.mail__getter-right__sub-button {
  display: block !important;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  font-weight: 600;
  background-color: var(--primary-color);
  margin-top: 12px;
}

.mail__getter-right__input {
  width: calc(100vw * 0.9);
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  border: 0.8px solid #e4e4e4;
}

.mail__getter,
.mail__getter-right__sub-button,
.mail__getter-right__input {
  border-radius: 8px;
}

@media screen and (min-width: 380px) {
  .mail__getter-left__title {
    font-size: 20px;
  }

  .mail__getter-left__description {
    font-size: 13px;
  }

  .mail__getter-right__input {
    width: 350px;
  }

  .mail__getter {
    margin-top: var(--page-section-dist-min380);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .mail__getter-left__title {
    font-size: 21px;
  }

  .mail__getter-left__description {
    font-size: 14px;
  }

  .mail__getter-right__input {
    margin-right: 10px;
  }

  .mail__getter-right__sub-button {
    display: inline-block !important;
    width: auto;
    padding: 20px 40px;
    margin-top: 0;
  }

  .mail__getter {
    margin-top: var(--page-section-dist-min600);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .mail__getter-left__title {
    font-size: 22px;
  }

  .mail__getter-right__input {
    margin-right: 15px;
  }

  .mail__getter {
    margin-top: var(--page-section-dist-min768);
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media screen and (min-width: 992px) {
  .mail__getter {
    margin-top: var(--page-section-dist-min992);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .mail__getter {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
    text-align: start;
    margin-top: var(--page-section-dist-min1200);
  }

  .mail__getter-right {
    margin-top: 0;
  }
}

