header {
  width: 100%;
  position: fixed;
  z-index: 10000;
  transition: var(--short-delay);
  background-color: #fff;
}

.nav-horizontal, 
.navbar-left, 
.navbar-right {
  display: flex;
}

.nav-horizontal {
  justify-content: space-between;
  height: var(--header-height-max380);
}

.navbar-left__menu-lpc-button,
.navbar-left__menu {
  display: none;
}

.navbar-left__logoshop {
  width: 100px;
  height: auto;
}

.navbar-left, 
.navbar-right, 
.navbar-left__menu {
  align-items: center;
}

.navbar-left__menu {
  margin-left: 45px;
}

.navbar-left__menu, 
.navbar-right {
  column-gap: 2rem;
}

.navbar-left__menu__link {
  font-weight: 500;
}

.navbar-left__menu__link__menu-dropdown {
  position: absolute;
  display: none;
  background-color: #fff;
  top: 100%;
  transition: 0.4s;
  padding: 15px 0;
}
  
.navbar-left__menu__link__menu-dropdown span {
  display: block;
  padding: 8px 145px 8px 22px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  transition: 0.2s;
}
  
.navbar-left__menu__link__menu-dropdown span:hover {
  color: #fff;
  background-color: #000;
}
  
.navbar-left__menu__link:hover 
.navbar-left__menu__link__menu-dropdown {
  display: block;
  animation: to-high 0.2s linear;
}

.navbar-right__search-button,
.navbar-right__cart-preview {
  display: none;
}

.navbar-right__cart-preview__amount {
  width: 18px; 
  height: 18px;
  font-size: 11px; 
  color: white;
  top: -5px;  
  right: -9px; 
}

.navbar-right__username {
  font-weight: 600;
  font-size: 15px;
}
  
@keyframes to-high {
  0% {
    top: 120%;
    opacity: 0.2;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}

@media screen and (min-width: 380px) {
  .nav-horizontal {
    height: var(--header-height-min380);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .nav-horizontal {
    height: var(--header-height-min600);
  }

  .navbar-left__menu-lpc-button {
    display: inline-block;
  }

  .navbar-left__logoshop {
    margin-left: 24px;
  } 

  .navbar-right__search-button,
  .navbar-right__cart-preview {
    display: initial;
    font-size: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .nav-horizontal {
    height: var(--header-height-min768);
  }

  .navbar-right__search-button,
  .navbar-right__cart-preview {
    font-size: 22px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .nav-horizontal {
    height: var(--header-height-min992);
  }

  .navbar-left__menu-lpc-button {
    display: none;
  }

  .navbar-left__logoshop {
    margin-left: 0;
  }

  .navbar-left__menu {
    display: flex;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .nav-horizontal {
    height: var(--header-height-min1200);
  }
}