.nav-vertical {
  position: absolute;  
  left: 0; 
  width: 100%; 
  height: 100%;
  background-color: #fff;
  animation: showSidebar 1s ease;
  transition: left 1.5s ease;
}
 
@keyframes showSidebar {
  0% { left: -100%; };
  100% { left: 0; }
}
 
.nav-vertical.active {
  display: block;
}
 
.nav-vertical-top, .nav-vertical-bottom {
  position: relative;
  height: 80px; 
}
 
.nav-vertical-top {
  border-bottom: 1px solid #f0f0f0;
}
 
.nav-vertical-top > *, .social-links {
  position: absolute;
}
 
.nav-vertical-top > * {
  top: 50%;
  transform: translateY(-50%);
}
 
.nav-vertical-top img { left: 5%; }
 
.nav-vertical-top ion-icon {
  right: 5%;
  font-size: 24px;
}
 
.nav-vertical-center__menu__link {
  line-height: 50px; 
  padding: 0 30px; 
  font-weight: 500;
}
 
.nav-vertical-center__menu-nest__link {
  padding: 0 20px; 
  line-height: 45px; 
  font-size: 14px; 
  font-weight: 500;
  opacity: 0.9;
}

.nav-vertical-center__menu__link__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-vertical-center__menu__link__title ion-icon { 
  font-size: 18px; 
}
 
.nav-vertical-center__menu-nest {
  overflow: hidden;
  max-height: 0; 
  transition: max-height 5s ease-out;
}
 
.nav-vertical-center__menu-nest.open {
  max-height: 10000px; 
  border-bottom: 0.8px solid #e4e4e4;
  transition: max-height 5s ease-in;
}
 
.nav-vertical-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  background-color: #fff; 
  border-top: 1px solid #f0f0f0;
}

.nav-vertical-bottom a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 22px;
}
 
.nav-vertical-center { height: calc(100% - 160px); }

@media (min-width: 740px) {
  .nav-vertical { width: 50vw; }
}

@media (min-width: 1024px) {
  .nav-vertical { width: 480px; }
}