.btn {
   margin-top: .375rem;
   border-radius: .375rem;
   background-color: rgb(33, 33, 33);
   padding: 1rem 1.25rem;
   font-size: 13px;
   color: #fff;
   height: 2.75rem;
   transition: all .3s ease-in-out;
}

@media (min-width: 768px) {
   .btn {
      height: 3rem;
      padding: .875rem 1.5rem;
      font-size: .875rem;
   }
}

@media (min-width: 1024px) {
   .btn {
      padding: 1rem 2rem;
   }
}