.wrapper {
   max-width: 100%;
   width: 100%;
   border-radius: .375rem;
   border: 1px solid rgb(241, 241, 241);
   transition: all 0.1s ease-in-out;
}

.wrapper:hover {
   transform: translateY(-0.1rem);
   box-shadow: 0 2px 8px #f0f0f0;
}

.detail {
   padding: .5rem;
}

.name,
.nameSkeleton {
   max-width: 100%;
}

.name {
   font-size: .875rem;
   line-height: 1.25rem;
   color: var(--primary-color);
   font-weight: 600;
}

.nameSkeleton {
   width: 100%;
   height: 2.25rem;
   background-color: var(--skeleton-color);
   border-radius: .5rem;
}

.desc,
.descSkeleton {
   max-width: 100%;
}

.desc {
   color: rgb(90, 90, 90);
   font-size: .75rem;
   line-height: 1.5;
   text-overflow: ellipsis;
   white-space: nowrap;
   margin: .5rem 0;
}

.descSkeleton {
   width: 100%;
   height: 1rem;
   background-color: var(--skeleton-color);
   border-radius: .5rem;
   margin: 1.25rem 0;
}

.prices,
.pricesSkeleton {
   max-width: 100%;
}

.prices {
   font-weight: 600;
   font-size: .875rem;
   line-height: 1.25rem;
   column-gap: .5rem;
}

.pricesSkeleton {
   width: 40%;
   height: 1.75rem;
   background-color: var(--skeleton-color);
   border-radius: .5rem;
}

.firstPrice {
   color: rgb(112, 112, 112);
   font-weight: 400;
   text-decoration: line-through;
}

@media (min-width: 480px) {
   .name {
      font-size: 1rem;
      line-height: 1.5rem;
   }

   .prices {
      font-size: 1.25rem;
      line-height: 1.75rem;
   }

   .firstPrice {
      font-size: 1rem;
      line-height: 1.5rem;
   }
}

@media (min-width: 768px) {
   .name {
      margin-bottom: .375rem;
   }

   .prices {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-top: .625rem;
   }
}

@media (min-width: 1024px) {
   .detail {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
   }

   .desc {
      font-size: .875rem;
      line-height: 1.25rem;
   }

   .prices {
      font-size: 1.25rem;
      line-height: 1.75rem;
   }
}

@media (min-width: 1280px) {
   .desc {
      line-height: 1.625rem;
   }
}

@media (min-width: 1500px) {
   .detail {
      padding-left: 1rem;
      padding-right: 1rem;
   }

   .prices {
      margin-top: .75rem;
   }
}
