header {
   position: fixed;
   z-index: 10000;
}

header nav {
   height: 100px; 
   padding: 0 12px;
   background-color: white;
   transition: 0.4s;
}

.navbar-left { height: 100%; }

.navbar-left ul {
   display: none;
   list-style: none;
   margin-left: 30px; 
}

.nav-link { 
   display: inline;
   margin: 0 26px; 
   padding-top: 2%;
}

.navbar-left ion-icon {
   display: none;
   font-size: 48px;
   margin-right: 20px;
}
 
 .navbar-right ion-icon {
   font-size: 24px;
}

.navbar-right h4 {
   margin: 0 18px;
}

.cart-preview, .navbar-right ion-icon { 
   display: none;
}
 
.vertical-nav {
   position: absolute;
   left: 0; 
   width: 100%; 
   height: 100%;
   background-color: white;
   animation: showSidebar 1s ease;
   transition: left 1.5s ease;
}

@keyframes showSidebar {
   0% { left: -100%; };
   100% { left: 0; }
}

.vertical-nav.active {
   display: block;
}

.vertical-nav-top, .vertical-nav-bottom {
   position: relative;
   height: 80px; 
 }

.vertical-nav-top {
   border-bottom: 1px solid #f0f0f0;
}

.vertical-nav-top > *, .social-links {
   position: absolute;
}

.vertical-nav-top > * {
   top: 50%;
   transform: translateY(-50%);
}

.vertical-nav-top img {
   left: 5%; 
}

.vertical-nav-top ion-icon {
   right: 5%;
   font-size: 24px;
}

.vertical-nav-center {
   padding-top: 25px; 
}

.vertical-nav-center ul li {
   line-height: 50px; 
   padding: 0 30px; 
}

.vertical-nav-center ul ul li {
   padding: 0 20px; 
   line-height: 45px; 
   font-size: 14px; 
}

.vertical-nav-center ul li:last-child ion-icon {
   font-size: 18px;
}

.vertical-nav-center ul li:last-child ul {
   overflow: hidden;
   max-height: 0; 
   transition: max-height 5s ease-out;
}

.vertical-nav-center ul li:last-child ul.open {
   max-height: 10000px; 
   border-bottom: 0.8px solid #e4e4e4;
   transition: max-height 5s ease-in;
}

.vertical-nav-bottom {
   background-color: white; 
   border-top: 1px solid #f0f0f0;
}

.social-links {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.social-links > * {
   margin: 0 16px;
}

.vertical-nav-center {
   height: calc(100% - 160px);
}

@media (min-width: 740px) {
   header nav {
      padding: 0 calc((100vw - (100vw - 60px)) / 2)
   }
   .vertical-nav {
      width: 50vw;
   }
   .navbar-left ion-icon {
      display: inline;
   }
   .cart-preview, .navbar-right ion-icon { 
      display: block;
   }
}

@media (min-width: 1024px) {
   header nav {
      padding: 0 calc((100vw - (100vw - 90px)) / 2)
   }
   .vertical-nav {
      width: 480px;
   }
   .nav-link {
      padding-top: 0px; 
   }
   .navbar-left ul {
      display: flex;
      height: 100%;
   }
   .navbar-left ion-icon {
      display: none;
   }
   .cart-preview, .navbar-right ion-icon { 
      display: block;
   }
}