.pt-168pc { padding-top: 168%; }
.product-t1 { transition: 0.3s; }

.product-t1:hover {
  transform: translateY(-1.5%);
  box-shadow: 0 8px 10px rgb(241, 241, 241);
}

.product-t1 img {
  width: 100%;
  height: 78%;
}

.product-t1-about h4 { color: #313131; }

