.menu {
   display: none;
   margin-left: 45px;
}

.menu li:last-child:hover .dropdown {
   display: block;
   animation: to-high .2s linear;
}

.dropdown {
   width: 220px;
   top: 100%;
   transition: var(--short-delay);
   padding: 1.25rem 0;
   display: none;
   background-color: rgb(249, 249, 249);
}

.dropdown li {
   cursor: pointer;
   display: block;
   transition: var(--short-delay);
   font-size: 0.875rem;
   line-height: 1.25rem;
   color: rgb(90, 90, 90);
   padding-right: 0.75rem;
   padding-left: 1.25rem;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}

.dropdown li a {
   display: inline-block;
   width: 100%;
   height: 100%;
   color: inherit;
}

.dropdown li:hover {
   color: #000;
   background-color: rgb(233, 233, 233);
}

@media (min-width: 992px) {
   .menu {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-left: 4rem;
   }
}

@media (min-width: 1280px) {
   .dropdown {
      width: 240px;
   }

   .dropdown li {
      padding-right: .875rem;
      padding-left: 1.75rem;
   }
}

@keyframes to-high {
   0% {
      top: 120%;
      opacity: .2;
   }
   100% {
      top: 100%;
      opacity: 1;
   }
}


