.q-a {
   margin-top: 20px;
   background-color: rgba(249, 249, 249, 1);
}

.faq-detail { padding: 60px 0 24px 0; }

.question { height: 75px; }

.question > * {
   position: absolute;
   top: 50%; 
   transform: translateY(-50%);
}

.left-3pc { left: 3%; }

.question button {
   font-size: 24px; 
   right: 3%; 
   border: none; 
   background-color: transparent;
   transition: 0.4s;
}

.answer { 
   padding: 0;
   transition: 0.4s; 
   border-bottom-left-radius: 7px;
   border-bottom-right-radius: 7px;
}

.answer p { 
   display: none;
   transition: 0.3s; 
   font-size: 14px;
   line-height: 2;
}

.answer p.visible { display: block; }

.answer.active {
   border-top: 1px solid #e4e4e4; 
   padding: 20px 30px;
}

.question button.opening {
   transform: rotate(45deg);
   top: 30%; 
}
