.q-a {
  border-radius: 8px;
  background-color: rgba(249, 249, 249, 1);
}

.faq {
  padding: 75px 50px 0 50px; 
}

.faq > *:not(:last-child) {
  margin-bottom: 25px;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;  
}

.faq__question-text {
  font-weight: 600;
}

.faq__question__answer-button {
  font-size: 24px; 
}

.faq__answer { 
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.faq__answer-text { 
  opacity: 0.9;
  display: none;
  font-size: 14px;
  line-height: 2;
}

.faq__answer-text.visible { 
  display: block; 
}

.faq__answer.active {
  padding: 20px 30px;
}

.faq__question__answer-button.opening {
  transform: rotate(45deg);
}

.faq__question__answer-button,
.faq__answer,
.faq__answer-text {
  transition: var(--short-delay); 
}
