.title {
   margin-top: .5rem;
   margin-bottom: 1rem;
   font-size: .875rem;
   line-height: 1.25rem;
   color: rgb(90, 90, 90);
}

.titleLink {
   text-decoration: underline;
   color: var(--primary-color);
}

.form {
   row-gap: 1.5rem;
}

.lineWrapper {
   margin-bottom: .875rem;
   margin-top: 1.5rem;
}

.line {
   border: 1px solid rgb(230, 230, 230);
}

.lineText {
   top: -0.625rem;
   padding: 0 0.5rem;
   font-size: .875rem;
}

.switchAuth {
   color: rgb(90, 90, 90);
}

.switchButton {
   text-decoration: underline;
   color: var(--primary-color);
   margin-left: 5px;
}

.switchAuth,
.switchButton {
   font-size: .875rem;
   line-height: 1.25rem;
   margin-top: 5px;
}

.btn {
   margin-top: .375rem;
   border-radius: .375rem;
   padding: 1rem 1.25rem;
   font-size: 13px;
   height: 2.75rem;
}

@media (min-width: 480px) {
   .title {
      margin-bottom: 1.5rem;
   }
}

@media (min-width: 768px) {
   .title {
      font-size: 1rem;
      line-height: 1.5rem;
   }

   .btn {
      height: 3rem;
      padding: .875rem 1.5rem;
      font-size: .875rem;
   }
}

@media (min-width: 1024px) {
   .btn {
      padding: 1rem 2rem;
   }
}